body {
  text-align: center;
}

#compartilhar-buttons {
  margin-top: 20px;
}

.compartilhar-button {
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.facebook {
  background-color: #3b5998;
}

.twitter {
  background-color: #1da1f2;
}

.compartilhar-button i {
  margin-left: 10px;
  font-size: 24px;
}

.compartilhar-button:hover {
  opacity: 0.8;
}
